@import "tailwindcss";
 
 
 
/* @font-face {
  font-family: 'Amiri', serif;
  src: url('/najaa/public/fonts/Amiri/Amiri-Bold.ttf') format('woff2'),
       url('/najaa/public/fonts/Amiri/Amiri-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
} */

body {
  font-family: 'Amiri', serif;
  /* src: url('/najaa/public/fonts/Amiri/Amiri-Regular.woff2') format('woff2'),
       url('/najaa/public/fonts/Amiri/Amiri-Regular.ttf') format('truetype'); */
  font-weight: bold;
  font-style: normal;
  color: var(--foreground);
  background: var(--background);
  background-image: url('/BB1.png');  
  
   
}
@keyframes shine {
  100% {
    left: 200%;
  }
}

@layer utilities {
  .animate-shine {
    animation: shine 1.5s cubic-bezier(0.4, 0, 0.2, 1);
  }
}


